* {
    font-family: "Roboto", 'Courier New', Courier, monospace;
    margin: 0%;
}

body {
        background-image: url(assets/topography.png);
}

.banner {
    background-color: #333333;
}

nav {
    padding: 0% 10%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    display: inline;
    padding: 0px 10px;
}

a {
        color: #ff0099;
        text-transform: uppercase;
}

a:hover {
    color: whitesmoke;
}

.container {
    padding: 0% 10%;
    line-height: 1.6em;
}

.mySection {
    padding: 50px 0px;
}

.myJob {
    color: #ff0099;
    padding: 15px 0px 5px 0px;
}

.line {
    text-align: center;
    letter-spacing: 1em;
    padding: 15px 0px;
}

.techWiki {
    text-align: center;
    padding: 15px 0px;
}

.content {
    padding-bottom: 100px;
}

.def {
    padding: 10px 0px 20px 0px;
}


